<% if params[:action] == "search" %>
<div class="results-block">
  <%= bootstrap_flash %>
</div>
<% end %>

<% if @stock %>
  <div class="well results-block">
    <strong>Symbol: </strong><%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Price: </strong><%= @stock.last_price %>
    <% if current_user.can_add_stock?(@stock.ticker) %>
    <%= link_to "Add to my stocks", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), class: "add-to btn btn-xs btn-info", method: :post %>
    <% else %>
      <span  style="margin-left: 10px" class="label label-default">
        Stock cannot be added because
        <% if !current_user.under_stock_limit? %>
           of 10 stock limit
        <% end %>
        <% if current_user.stock_already_added?(@stock.ticker) %>
          already in portfolio
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>
